In [1]:
import pandas as pd

import numpy as np

In [2]:
from pdfminer.high_level import extract_text

text = extract_text("./resume/resume5.pdf")
print(text)

PROFILE

Aspiring  AI/ML  enthusiast  with  a  strong  foundation  in
machine  learning  algorithms,  mathematical  problem-
solving,  and  optimization  techniques.  Proficient  in
Python, TensorFlow, and data analysis, with a dedication
to  mastering  AI/ML  skills.  Eager  to  contribute  to
innovative AI projects and make a meaningful impact in
the
insights  and
through  data-driven
industry
algorithmic solutions.

Rajendran sp

rajendransp133@gmail.com

7448531133

https://github.com/rajendransp133/

30/10/2002

EDUCATION

CHELAMMAL Vidhyaashram  CBSE School
CLASS XII,Percentage-93%
CLASS X,Percentage-87%

B.Tech[Information technology]
Government college of technology
2020 – 2024 | Coimbatore, India

CGPA--7.34

SKILLS

MATH (CALCULAS,PROBABILITY,STATISTICS)

python

Numpy,pandas,matplotlib

SQL

EXCEL

Data Cleaning, Visualization, and
Manipulation

PROJECTS

Book-Recommender-System
Utilized Python to implement multiple recommendation
system algorithms

•Such as Popularity Based Recommender System (TOP 250),
Collaborative Filtering, and Content-Based Filtering, to
provide book recommendations for users
•Conducted data cleaning, manipulation, and analysis on
two datasets sourced from Goodreads

The Applications of Graph Theory to
Investing
Code Implementation of a Research Paper

•construction of correlation matrices and identified
strong and weak  correlations between stocks.
•Utilized graph analysis techniques to produce
diversified portfolios that consistently outperform the
market during times of economic stability
•Using python library such as numpy,pandas,matplotlib
analyzed the financial data(stock data)

PROFESSIONAL EXPERIENCE

Development and Implementation of Seat
Allocation Mechanism in Python
TNEA(Tamil Nadu engineering admission),DoTe
04/2023 – present | chennai, india

•Successfully addressed a longstanding allocation
problem that had persisted for 3-4 years within the
Tamil Nadu Government Engineering Admission
(TNEA) sector.
•Eliminated the need for time-consuming and labor-
intensive manual allocation processes, reducing the
allocation time from 10 days to 2 days and optimizing
manpower utilization.
•Leveraged optimization techniques and algorithmic
problem-solving skills, implementing a fully
automated solution using the Pulp library in Python.
•Played a pivotal role in enhancing efficiency and
accuracy in the allocation process, contributing to the
overall improvement of TNEA's operations.

CERTIFICATES

GAME THEORY[COURSERA]
LEVEL 1 AND 2

NISM(National Institute of Securities
Markets)
NISM Series V A

VOLUNTEER EXPERIENCE

Data Science Curriculum (research)
Statistics without borders[SWB] ,American Statistical
Association (ASA)
03/2023 – 05/2023

•Conducted  research to identify relevant textbooks and
other teaching materials for Data Science topics
•Worked for university of Lagos, Nigeria  along with
professors associated to University of Sydney and MS.
Ramaiah University, Bangalore

In [3]:
raw_data=text.split("\n")

In [4]:
data=[]
for i in raw_data:
    if(len(i)==0):
        pass
    else:
        data.append(i)

In [5]:
original_df=pd.DataFrame(data,columns=["content"])

In [6]:
original_df['word_count']=''
original_df['word_count']=[len(original_df.loc[i,'content'].split(" "))for i in range(len(original_df))]

In [7]:
original_df['len_text']=''
original_df['len_text']=[len(original_df.loc[i,'content']) for i in range(len(original_df))]

In [8]:
original_df['end_sym']=''
for i in range(len(original_df)):
    if(original_df.loc[i,'content'][-1]).isalpha():
        original_df.loc[i,'end_sym']=0
    elif(original_df.loc[i,'content'][-1]).isdigit():
         original_df.loc[i,'end_sym']=0
    else:
        original_df.loc[i,'end_sym']=1

In [9]:
original_df['len_avg_word']=original_df['len_text']//original_df['word_count']

In [10]:
import requests
x = requests.get('https://gist.githubusercontent.com/ZohebAbai/513218c3468130eacff6481f424e4e64/raw/b70776f341a148293ff277afa0d0302c8c38f7e2/gist_stopwords.txt',allow_redirects=True)
stop_words=x.text.split(',')
original_df['no_of_stop']=0
for i in range(len(original_df)):
    for l in original_df.loc[i,'content'].split(" "):
        if l in stop_words:
            original_df.loc[i,"no_of_stop"]+=1

In [11]:
original_df['numeric_value']=0
for i in range(len(original_df)):
    for letter in original_df.loc[i,'content']:
        if letter.isdigit():
            original_df.loc[i,"numeric_value"]+=1

In [12]:
original_df['no_of_sym']=0
for i in range(len(original_df)):
    for letter in original_df.loc[i,'content']:
        if letter.isdigit():
            pass
        elif letter.isalpha():
            pass
        elif letter==' ':
            pass
        else:
            original_df.loc[i,"no_of_sym"]+=1

In [13]:
#from heading_classify

tokens=['academic', 'achievements', 'address', 'and', 'birth', 'career',
       'computer', 'curriculum', 'date', 'declaration', 'description',
       'details', 'education', 'educational', 'experience', 'extra',
       'job', 'key', 'known', 'languages', 'management', 'marital',
       'name', 'nationality', 'objective', 'personal', 'professional',
       'profile', 'project', 'projects', 'qualification',
       'responsibilities', 'resume', 'role', 'roles', 'skill', 'skills',
       'summary', 'technical', 'the', 'title', 'vitae', 'work']

In [14]:
tokens=" ".join(tokens)
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()

from numpy import dot
from numpy.linalg import norm
for i in range(len(original_df)):
    vector_matrix = count_vectorizer.fit_transform([original_df.loc[i,"content"],tokens])
    vector_matrix=vector_matrix.toarray()
    cos_sim = dot(vector_matrix[0], vector_matrix[1])/(norm(vector_matrix[0])*norm(vector_matrix[1]))
    if(cos_sim>0):
        original_df.loc[i,"cos_sim"]=1

C:\Users\rajendran\AppData\Local\Temp\ipykernel_14108\1466242238.py:11: RuntimeWarning: invalid value encountered in true_divide
  cos_sim = dot(vector_matrix[0], vector_matrix[1])/(norm(vector_matrix[0])*norm(vector_matrix[1]))

In [15]:
nan_index=original_df[original_df['cos_sim'].isna()].index
original_df.loc[nan_index,"cos_sim"]=0

In [16]:
original_df["case"]=''
for i in range(len(original_df)):
    if(original_df.content[i].isupper()):
        original_df.loc[i,"case"]=0
    elif(original_df.content[i].islower()):
        original_df.loc[i,"case"]=1
    elif(original_df.content[i][0].isupper()):
        original_df.loc[i,"case"]=2
    else:
        original_df.loc[i,"case"]=3

In [17]:
save=original_df['content']

In [18]:
original_df.drop(["content"],axis=1,inplace=True)

In [19]:
df_test=original_df.copy()

In [20]:
df_test

,word_count,len_text,end_sym,len_avg_word,no_of_stop,numeric_value,no_of_sym,cos_sim,case
0,1,7,0,7,0,0,0,1.0,0
1,15,60,0,4,3,0,1,0.0,2
2,9,54,1,6,0,0,2,0.0,1
3,11,56,0,5,2,0,2,1.0,3
4,8,56,0,7,3,0,3,1.0,2
...,...,...,...,...,...,...,...,...,...
83,7,48,0,6,2,0,0,0.0,3
84,10,53,1,5,4,0,2,0.0,3
85,9,54,1,6,4,0,1,1.0,3
86,3,29,0,9,0,0,1,0.0,2
87,1,1,1,1,0,0,1,0.0,3

In [21]:
original_df=pd.read_csv("final.csv",index_col=0)
original_df_input=original_df[original_df.columns[1:]]
original_df_output=original_df["head_actual"]

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(original_df_input, original_df_output, test_size=0.33, random_state=42)

In [23]:
from xgboost import XGBClassifier
model = XGBClassifier()
# fit the model on the whole dataset
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [24]:
y_pred = model.predict(X_test)
y_test[y_pred!=y_test]

1557     1
21920    0
8106     0
13951    1
14198    0
        ..
12947    0
22896    1
26218    1
33819    1
4596     0
Name: head_actual, Length: 786, dtype: int64

In [25]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Accuracy: 0.940
Recall: 0.723
Precision: 0.793
F1 Score: 0.757

In [26]:
X_test

,word_count,len_text,end_sym,len_avg_word,no_of_stop,numeric_value,no_of_sym,cos_sim,case
10138,2,15,0,7,0,0,0,0,2
13088,1,11,0,11,0,0,1,0,2
5567,3,11,0,3,0,8,1,0,3
30901,10,65,1,6,2,0,3,0,3
27607,2,17,1,8,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...
30006,16,86,1,5,4,1,3,1,3
23722,3,23,0,7,0,0,1,0,2
403,3,26,0,8,0,0,1,0,2
27894,1,4,0,4,0,0,0,0,0
14221,10,66,1,6,2,0,3,0,3

In [27]:
df_test.to_csv("test.csv")

In [28]:
df_test=pd.read_csv("test.csv",index_col=0)

In [29]:
df_test

,word_count,len_text,end_sym,len_avg_word,no_of_stop,numeric_value,no_of_sym,cos_sim,case
0,1,7,0,7,0,0,0,1.0,0
1,15,60,0,4,3,0,1,0.0,2
2,9,54,1,6,0,0,2,0.0,1
3,11,56,0,5,2,0,2,1.0,3
4,8,56,0,7,3,0,3,1.0,2
...,...,...,...,...,...,...,...,...,...
83,7,48,0,6,2,0,0,0.0,3
84,10,53,1,5,4,0,2,0.0,3
85,9,54,1,6,4,0,1,1.0,3
86,3,29,0,9,0,0,1,0.0,2
87,1,1,1,1,0,0,1,0.0,3

In [30]:
saved=model.predict(df_test)

In [31]:
for i in range(len(saved)):
    if (saved[i]==1):
        print(save[i],i)

PROFILE 0
EDUCATION 17
SKILLS 25
PROJECTS 33
PROFESSIONAL EXPERIENCE 52
VOLUNTEER EXPERIENCE 77

In [32]:
#need to make dynamic

resume_text=" ".join(save[26:33].values)

In [33]:
import spacy

# load pre-trained model
nlp = spacy.load('en_core_web_sm')
# noun_chunks = nlp.noun_chunks

In [34]:
nlp_text = nlp(resume_text)

tokens = [token.text for token in nlp_text if not token.is_stop]

In [35]:
tokens

['MATH',
 '(',
 'CALCULAS',
 ',',
 'PROBABILITY',
 ',',
 'STATISTICS',
 ')',
 'python',
 'Numpy',
 ',',
 'pandas',
 ',',
 'matplotlib',
 'SQL',
 'EXCEL',
 'Data',
 'Cleaning',
 ',',
 'Visualization',
 ',',
 ' ',
 'Manipulation']